
.about{
    position:relative;
    width: 100%;
    height: 500px;
    background-image: url("./images/background.jpg");
    text-align: center;
    
}
.Info{
       
       font-family: Arial, sans-serif;
       text-align:justify;
       margin-top: 50px;
       font-size: 20px;
    
      
}
.pune{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align:justify;
    
}
 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    width: 60%;
}

.contact-details {
    flex: 1;
    max-width: 48%;
}

.form-container h2,
.contact-details h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.form-container input[type="submit"]:hover {
    background-color: #218838;
}

.faq-item {
    margin-bottom: 1rem;
    
  }
  .faq-question {
    color: rgb(52, 43, 43);
    font-weight: bold;
    cursor: pointer;
    
  }
  .faq-answer {
    display: none;
    margin-top: 0.5rem;
  }
  .faq-answer.show {
    display: block;
  }

.container-fliud{
    display: flex;
}