
body {
    width: 100%;
    background-color: #F6F8FB;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px; /* Adjusted for better readability on different screen sizes */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-nav .nav-link {
    font-family: Lato, sans-serif;
    font-size: 16px; /* Adjusted for better readability on different screen sizes */
}

.form-control {
    max-width: 300px; /* Adjusted to prevent search input from being too wide */
}

.navbar-nav {
    align-items: center;
}

.ms-2{
    font-family: 'Share Tech';
    
}

@media (max-width: 991px) {
    .navbar-brand {
        font-size: 20px;
    }
    .navbar-nav .nav-link {
        font-size: 14px;
    }
}