/*Popup Form */
.popup {
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    z-index: 1000;
    /* Ensures it appears on top */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: left;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


.close-btn:hover {
    color: #000;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Amazing Tours and Fun Adv */

.image-box {
    position: relative;
}

.image-box img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.section-title .highlight {
    font-weight: 900;
}

.highlight1 {
    font-weight: 700;
}

.section-subtitle {
    margin-top: 15px;
    color: #777;
}

.image-box {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-box:hover img {
    transform: scale(1.1);
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.text-overlay .highlight-text {
    font-size: 4rem;
    font-weight: bold;
    color: #f2c94c;
    /* yellow color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


/* Choose The Dest Just Right For Vac */
.info-title {
    font-size: 1.5rem;
}

.info-title .highlight {
    font-weight: bold;
}

.info-subtitle {
    margin-top: 5px;
    font-style: italic;
}

.info-text {
    margin-top: 15px;
    color: #777;
}

.learn-more {
    margin-top: 15px;
    font-weight: bold;
    color: #e74c3c;
    /* red color */
    text-decoration: none;
}


/*Last Section of Images Autoplay*/

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}




