.card-img-top{
   transition: infinite;
}
.card-img-top:hover{
    transform: scale(1.1);
    
}

.INFO1{

    display: flex;
    padding: 50PX;
    background-color: #e7e7e7;
}

.content{
    
    text-align: center;
}

